nav li{
    list-style: none;
    display: inline;
    margin-right: 15px;
}

nav li:hover{
    background-color: aqua;
}

nav li a{
    text-decoration: none;
}

footer{
    text-align: center;
    
}

#footer_text{
    color: red;
}
.image{
    height: 200px;
    width: 400px;

}